<a href="https://colab.research.google.com/github/ValentinaMarta/googleColabPython/blob/main/prueba1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Hola chicas")

Hola chicas

#1.mostrar por panralla la suma de dos numero

In [8]:
num=int(input("dime un numero " ))

dime un numero 2

In [9]:
num2=int(input("dime otro numero "))

dime otro numero 8

In [10]:
total=num+num2
print(total)

10

In [11]:
n3=int(input("dime otro numero "))

dime otro numero 5

In [12]:
n4=float(input("dime otro numero "))

dime otro numero 3.01

In [14]:
tot=n4+n3
print(tot)

8.01

In [18]:
miEdad=18
print(miEdad)
print(miEdad+1)
print(miEdad-1)

18
19
17

In [20]:
x=10
y=5
resultado=y*x
print(resultado)

50

In [21]:
x=False
print(x)
print(type(x))

False
<class 'bool'>

In [23]:
x=20
y=5
if x == y:
  print(x)
else:
  print("no son iguales")

no son iguales

In [24]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9